NET "Clock" LOC = C9;
NET "Clock" PERIOD = 40.0ns HIGH 50%;

NET "Reset" LOC = L13;

# ==== VGA Display ====
NET "oVGA[4]" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; //R
NET "oVGA[3]" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; //G
NET "oVGA[2]" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; //B
NET "oVGA[1]" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; //HS
NET "oVGA[0]" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ; //VS
#
## ==== Character LCD ====
#NET "oLCD[4]" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[5]" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[6]" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[7]" LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[0]" LOC = "R15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[1]" LOC = "R16" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[2]" LOC = "P17" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;
#NET "oLCD[3]" LOC = "M15" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW;

# ==== PS/2 Mouse/Keyboard ====
NET "PS2_CLK" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW | CLOCK_DEDICATED_ROUTE = FALSE;
NET "PS2_DATA" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

# ==== On Board LEDs ====
NET "oLed[0]" LOC = F12 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[1]" LOC = E12 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[2]" LOC = E11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[3]" LOC = F11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[4]" LOC = C11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[5]" LOC = D11 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[6]" LOC = E9 | IOSTANDARD = LVTTL | DRIVE = 8;
NET "oLed[7]" LOC = F9 | IOSTANDARD = LVTTL | DRIVE = 8;
